[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
pyspark = "*"
pyarrow = "*"
nbconvert = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
